*{
    margin: 0%;
    padding: 0%;
    

}
body{
    background-color: white;
}
.sec1{
    background: linear-gradient(45deg,#221ef1 ,#28c2de );
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%); 
}
.bt{
    position: absolute;
    top: 35%;
    left: 350px;
    width: 350px;
}
.bt h1 ,p{
    color: white;
    font-family: 'Rubik', sans-serif;
    
}
 .bar a{
    text-decoration: none;
    color: white;
}
.bt p a{
    
    color: rgb(241, 218, 187);
    text-decoration: none;
}
.bt h1{
    font-weight:200;
    font-size: 50px;
    margin-bottom: 30px;
}
.bt p{
    margin-bottom: 50px;
    line-height:40px ;
}
.botton{
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    background-color: #00ca4d;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: lighter;
    transition: 0.2s ease-in-out;
    
}
.botton:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

ul {
    padding-top: 20px;
    list-style-type: none;
    color: white;
    
  }
  ul li{
    
    display: inline-block;
    margin: 15px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    
  }

  .margleft{
    margin-right:550px ;
    margin-left: 350px;
    font-size: 18px;
  }
  
  .border a{
    text-decoration: none;
    border-width: 12px;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 30px ;
    color: white;
  }
  .forum{
    position: absolute;
    width: 400px;
    height: 450px;
    background-color: white;
    top: 30%;
    right: 20%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    
  }
  .head{
    margin-bottom: 40px;
    margin-top: 40px;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 600;
  }
input{
    width: 300px;
    height: 30px;
    background-color: #f2f2f2;
    border: 0px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px;

}
 .but{
    margin-top: 35px;
    
    
 }
 
  .but a{
    text-decoration: none;
    color: white;
    background-color: #1e81ff;
    border-radius: 20px;
    padding: 10px 130px;
    
  }
  .but a:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s ease-in-out;
}
  #drop{
    width: 325px;
    border: 0;
    background-color: #f2f2f2;
    padding: 10px;
  }