body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, #6461ee, #29c1de);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 30px 70px;
}

button {
    cursor: pointer;
}

.header p,
.header div {
    display: inline;
    margin: 0;
}

.header div {
    color: rgb(226, 224, 221);
}

.header p {
    padding: 5px;
    font-size: 12px;
    padding-right: 10px;
    margin: 0;
    cursor: pointer;
}

.title p {
    font-size: 13px;
}

.pages {
    float: right;
}

.header p:hover {
    color: rgb(255, 255, 255);
}

.start_btn {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    width: 105px;
    height: 30px;
    color: rgb(223, 222, 222);
    margin-left: 20px;
}

.start_btn:hover {
    background-color: rgb(250, 239, 239);
    color: rgb(0, 0, 0);
}

.main {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    padding: 70px 0;
    justify-content: center;
}

.description {
    width: 30%;
}

.desc_title {
    font-size: 40px;
    font-weight: 500;
}

.desc_text {
    font-size: 12px;
}

.price_btn:hover {
    background-color: rgb(46, 197, 97);
    box-shadow: 0 0 7px rgb(101, 209, 68);
}

.price_btn {
    background-color: rgb(49, 216, 105);
    box-shadow: 0 0 6px rgb(101, 209, 68);
    border: none;
    border-radius: 10px;
    padding: 9px 35px;
    color: rgb(235, 235, 235);
    font-size: 12px;
}

.form {
    display: grid;
    background-color: white;
    color: black;
    box-shadow: 10px 1 10px rgba(0, 0, 0, 0.61);
    margin-left: 200px;
    padding: 0 45px;
    padding-bottom: 0px;
    border-radius: 7px;
    height: auto;
}

input[type="text"],
input[type="email"],
input[list="cars"],
button[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 0;
    background-color: rgb(245, 245, 245);
}

button[type="submit"] {
    box-shadow: 0 0 5px #268efd;
    background-color: #268efd;
    color: rgb(233, 233, 233);
    border: none;
    display: block;
    align-content: center;
    cursor: pointer;
    padding: 5px 80px;
    border-radius: 10px;
}

button[type="submit"]:hover {
    background-color: #1c7ee7;
    box-shadow: 0 0 5px #1383fa;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }
  .white {
    background-color: white;
  }